SECRET_KEY=

MYSQL_DATABASE=ems
MYSQL_USER=ems_user
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
# Hasło MYSQL_PASSWORD zakodowane do użycia w URI.
MYSQL_PASSWORD_URI=

MONGO_DATABASE=ems
MONGO_ROOT_USERNAME=mongo_root
MONGO_ROOT_PASSWORD=
MONGO_APP_USERNAME=ems_app
MONGO_APP_PASSWORD=
# Hasło MONGO_APP_PASSWORD zakodowane do użycia w URI.
MONGO_APP_PASSWORD_URI=

MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_TENANT_ID=
MS_REDIRECT_URI=https://praktyki.example.edu.pl/auth/microsoft/callback
MS_ALLOWED_EMAIL_DOMAINS=example.edu.pl,student.example.edu.pl

RETENTION_INTERVAL_SECONDS=86400
PROMETHEUS_PORT=9090
