% ANS Elblag – Załącznik nr 2 – Program praktyki zawodowej
\input{base}
\begin{document}

\letterhead{2}

\doctitle{PROGRAM PRAKTYKI ZAWODOWEJ}
\docsubtitle{Kierunek: Informatyka -- studia inżynierskie}

\begin{minipage}[t]{\twocolA}
\pfield{Nr albumu}{(( data.nr_albumu | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\pfield{Zakład pracy}{(( data.zaklad_pracy | le ))}
\end{minipage}

\vspace{4pt}
\begin{minipage}[t]{\threecolW}
\pfield{Data rozpoczęcia}{(( data.data_start | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\threecolW}
\pfield{Data zakończenia}{(( data.data_end | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\threecolW}
\pfield{Data uzgodnienia}{(( data.data_uzgodnienia | le ))}
\end{minipage}

\vspace{4pt}
{\fontsize{9}{11}\selectfont
Planowany czas realizacji praktyki: \textbf{6 miesięcy tj. 120 dni (960 godz.)}.}

\sectionrule
\sectionlabel{A. Etap pierwszy -- rozpoczęcie praktyki}

\vspace{4pt}
\renewcommand{\arraystretch}{1.3}
\begin{tabularx}{\linewidth}{|X|}
\hline
Czynności organizacyjne, szkolenie BHP i ppoż. \\
\hline
Zapoznanie się z zakresem działania zakładu pracy (rodzaj usług, produkcja, struktura organizacyjna itp.) ze szczególnym uwzględnieniem stanowisk informatycznych. \\
\hline
Zapoznanie z projektami realizowanymi przez firmę, środkami produkcji, aplikacjami użytkowymi, stosowanymi technologiami informatycznymi z podkreśleniem wytwórczych narzędzi softwareowych i sieci komputerowych. \\
\hline
\end{tabularx}

\sectionrule
\sectionlabel{B. Etap drugi}

\vspace{2pt}
{\fontsize{9}{11}\selectfont\itshape
Praca na docelowym stanowisku pracy, wykonywanie prac i projektów informatycznych tak aby osiągnąć poniższe, wymagane programem studiów, efekty uczenia się:}

\vspace{4pt}
\renewcommand{\arraystretch}{1.25}
\fontsize{9}{11}\selectfont
\begin{tabularx}{\linewidth}{%
  |>{\centering\arraybackslash}p{28pt}%
  |X|%
}
\hline
\rowcolor{lightgray}
\textbf{Nr} & \textbf{Efekt uczenia się} \\
\hline
((*- for effect in effects *))
\textbf{(( '%02d' | format(effect.nr) ))} & (( effect.opis | le )) \\
\hline
((*- endfor *))
\end{tabularx}
\normalsize

\sectionrule
\sectionlabel{C. Etap trzeci -- zakończenie praktyki}

\vspace{4pt}
\renewcommand{\arraystretch}{1.3}
\begin{tabularx}{\linewidth}{|X|}
\hline
W trakcie praktyki student prowadzi ,,Dzienniczek praktyki''. Wpisy w dzienniczku powinny być potwierdzone przez zakładowego opiekuna praktyki. \\
\hline
Na ,,Karcie praktyki zawodowej'' kierownik zakładu pracy potwierdza odbycie praktyki, a opiekun zakładowy wystawia ocenę parametryczną i w formie opisowej. \\
\hline
Opiekun ze strony zakładu pracy na odpowiednim druku ,,Potwierdzenie efektów uczenia się'' potwierdza osiągnięcie przez praktykanta wymienionych powyżej efektów uczenia się. \\
\hline
\end{tabularx}

\vspace{10pt}
\sectionrule
\vspace{6pt}
\begin{minipage}[t]{\twocolA}
\psig{Podpis zakładowego opiekuna praktyki (data, pieczęć)}{(( data.podpis_zakladowy | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\psig{Podpis dyrektora Instytutu (data)}{(( data.podpis_uczelniany | le ))}
\end{minipage}

\end{document}
