% ANS Elblag – Załącznik nr 3 – Karta praktyki zawodowej
\input{base}
\begin{document}
((* set female = data.get('gender') == 'K' *))

\letterhead{3}

\doctitle{KARTA PRAKTYKI ZAWODOWEJ}
\docsubtitle{Skierowanie na praktykę}

\sectionrule
\sectionlabel{A. Dane skierowania}

Na podstawie porozumienia nr \textbf{(( data.nr_porozumienia | le ))} z dnia
\textbf{(( data.data_porozumienia | le ))} r., kieruję niżej wymienion((* if female *))ą studentkę((* else *))ego studenta((* endif *)) na
praktykę zawodową do zakładu pracy:

\vspace{4pt}
\pfield{Nazwa instytucji / zakładu pracy}{(( data.zaklad_pracy | le ))}

\sectionrule
\sectionlabel{B. Dane ((* if female *))studentki((* else *))studenta((* endif *))}

\begin{minipage}[t]{\twocolA}
\pfield{Imię i nazwisko}{(( data.imie_nazwisko | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\pfield{Numer albumu}{(( data.nr_albumu | le ))}
\end{minipage}

\vspace{4pt}
\begin{minipage}[t]{\threecolW}
\vspace{0pt}
{\fontsize{8}{10}\selectfont\sffamily\color{sectiongray}Studia}\\[3pt]
((*- if data.rodzaj_studiow == 'stacjonarne' *))
$\boxtimes$ stacjonarne \quad $\square$ niestacjonarne
((*- else *))
$\square$ stacjonarne \quad $\boxtimes$ niestacjonarne
((*- endif *))
\vspace{4pt}
\end{minipage}\hfill
\begin{minipage}[t]{\threecolW}
\pfield{Kierunek studiów}{Informatyka}
\end{minipage}\hfill
\begin{minipage}[t]{\threecolW}
\pfield{Specjalność}{(( data.specjalnosc | le ))}
\end{minipage}

\vspace{4pt}
\colorbox{lightgray}{\parbox{\linewidth}{\fontsize{9.5}{12}\selectfont
  Czas trwania praktyki: \textbf{6 miesięcy (120 dni roboczych)} -- inżynierskie stacjonarne
}}

\vspace{6pt}
\begin{minipage}[t]{\twocolA}
\pfield{Uczelniany opiekun praktyki zawodowej}{(( data.uczelniany_opiekun | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\mbox{}
\end{minipage}

\vspace{4pt}
\begin{minipage}[t]{\twocolA}
\pfield{Data rozpoczęcia praktyki}{(( data.data_start | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\pfield{Data zakończenia praktyki}{(( data.data_end | le ))}
\end{minipage}

\sectionrule
\sectionlabel{C. Zakładowy opiekun praktyki}

\begin{minipage}[t]{\twocolA}
\pfield{Imię i nazwisko zakładowego opiekuna}{(( data.zakladowy_opiekun_nazwisko | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\pfield{Funkcja / stanowisko}{(( data.zakladowy_opiekun_funkcja | le ))}
\end{minipage}

\vspace{6pt}
\begin{minipage}[t]{\twocolA}
\psig{Potwierdzenie zgłoszenia ((* if female *))studentki((* else *))studenta((* endif *)) na praktykę (data, pieczęć)}{(( data.potwierdzenie_zgloszenia | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\psig{Potwierdzenie odbycia szkolenia BHP (data, pieczęć)}{(( data.potwierdzenie_bhp | le ))}
\end{minipage}

\sectionrule
\sectionlabel{D. Zaświadczenie odbycia praktyki zawodowej}

Zaświadczam, że ((* if female *))studentka((* else *))student((* endif *)) \textbf{(( data.imie_nazwisko | le ))} ((* if female *))odbyła((* else *))odbył((* endif *)) praktykę zawodową w:

\vspace{4pt}
\pfield{Nazwa zakładu / instytucji}{(( data.zaswiadczenie_zaklad | le ))}

\begin{minipage}[t]{\twocolA}
\pfield{Okres od}{(( data.zaswiadczenie_okres_od | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\pfield{Okres do}{(( data.zaswiadczenie_okres_do | le ))}
\end{minipage}

\vspace{4pt}
\pfield{Uwagi}{(( data.zaswiadczenie_uwagi | le ))}

\vspace{6pt}
\psig{Miejscowość, data, pieczęć i podpis kierownika zakładu}{(( data.zaswiadczenie_podpis | le ))}

\sectionrule
\sectionlabel{E. Ocena przebiegu praktyki zawodowej}

\textbf{Ocena zakładowego opiekuna praktyki}

\vspace{4pt}
\begin{minipage}[t]{\twocolA}
{\fontsize{8}{10}\selectfont\sffamily\color{sectiongray}Ocena parametryczna (2--5)}\\[2pt]
\grade{(( data.ocena_zakladowa_param | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\mbox{}
\end{minipage}

\vspace{6pt}
\pfield{Ocena opisowa}{(( data.ocena_zakladowa_opis | le ))}

\vspace{4pt}
\psig{Data, pieczęć i podpis zakładowego opiekuna}{(( data.podpis_zakladowy | le ))}

\vspace{8pt}
\textbf{Ocena uczelnianego opiekuna praktyki}

\vspace{4pt}
\begin{minipage}[t]{\twocolA}
{\fontsize{8}{10}\selectfont\sffamily\color{sectiongray}Ocena parametryczna (2--5)}\\[2pt]
\grade{(( data.ocena_uczelniana_param | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\mbox{}
\end{minipage}

\vspace{6pt}
\pfield{Ocena opisowa}{(( data.ocena_uczelniana_opis | le ))}

\vspace{4pt}
\psig{Data, pieczęć i podpis uczelnianego opiekuna}{(( data.podpis_uczelniany | le ))}

\vspace{8pt}
\textbf{Ocena sprawozdania z praktyki}

\vspace{4pt}
\begin{minipage}[t]{\twocolA}
{\fontsize{8}{10}\selectfont\sffamily\color{sectiongray}Ocena parametryczna (2--5)}\\[2pt]
\grade{(( data.ocena_sprawozdania | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\mbox{}
\end{minipage}

\vspace{6pt}
\psig{Data i podpis uczelnianego opiekuna praktyki}{(( data.podpis_sprawozdanie | le ))}

\end{document}
