% ANS Elblag – Załącznik nr 6 – Dziennik praktyki zawodowej
\input{base}
\begin{document}

\letterhead{6}

\doctitle{DZIENNIK PRAKTYKI ZAWODOWEJ}

\begin{minipage}[t]{\twocolA}
\pfield{Imię i nazwisko}{(( data.imie_nazwisko | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\pfield{Nr albumu}{(( data.nr_albumu | le ))}
\end{minipage}

\vspace{4pt}
\begin{minipage}[t]{\threecolW}
\pfield{Kierunek}{Informatyka}
\end{minipage}\hfill
\begin{minipage}[t]{\threecolW}
\pfield{Specjalność}{(( data.specjalnosc | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\threecolW}
\pfield{Rok akademicki}{(( data.rok_akademicki | le ))}
\end{minipage}

\vspace{4pt}
\begin{minipage}[t]{\twocolA}
\pfield{Miejsce praktyki}{(( data.miejsce_praktyki | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\pfield{Termin}{(( data.data_start | le )) -- (( data.data_end | le ))}
\end{minipage}

\sectionrule

\vspace{4pt}
\renewcommand{\arraystretch}{1.3}
\fontsize{9}{11}\selectfont
\begin{longtable}{%
  |>{\centering\arraybackslash}p{0.055\linewidth}%
  |p{0.105\linewidth}%
  |>{\centering\arraybackslash}p{0.070\linewidth}%
  |p{0.360\linewidth}%
  |>{\centering\arraybackslash}p{0.105\linewidth}%
  |p{0.125\linewidth}|%
}
\hline
\rowcolor{lightgray}
\textbf{Dzień} & \textbf{Data} & \textbf{Godziny} & \textbf{Opis wykonanych prac} &
\textbf{Efekty uczenia się} & \textbf{Podpis opiekuna} \\
\hline
\endfirsthead
\hline
\rowcolor{lightgray}
\textbf{Dzień} & \textbf{Data} & \textbf{Godziny} & \textbf{Opis wykonanych prac} &
\textbf{Efekty uczenia się} & \textbf{Podpis opiekuna} \\
\hline
\endhead
\hline
\multicolumn{6}{r}{\fontsize{8}{10}\selectfont Kontynuacja na następnej stronie} \\
\endfoot
\hline
\endlastfoot
((*- for wpis in data.get('dziennik', []) *))
(( wpis.dzien | le )) & (( wpis.data | le )) & (( wpis.get('godziny', '') | le )) & (( wpis.opis | le )) &
(( wpis.efekty | le )) & (( wpis.podpis | le )) \\
\hline
((*- endfor *))
\end{longtable}
\normalsize

\end{document}
