% ANS Elblag – Załącznik nr 7a – Sprawozdanie z praktyki zawodowej (niestacjonarne)
\input{base}
\begin{document}
((* set female = data.get('gender') == 'K' *))

\letterhead{7a}

\doctitle{SPRAWOZDANIE Z PRAKTYKI ZAWODOWEJ}
\docsubtitle{Studia niestacjonarne}

\begin{minipage}[t]{\twocolA}
\pfield{Imię i nazwisko}{(( data.imie_nazwisko | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\pfield{Nr albumu}{(( data.nr_albumu | le ))}
\end{minipage}

\vspace{4pt}
\begin{minipage}[t]{\threecolW}
\pfield{Kierunek}{Informatyka}
\end{minipage}\hfill
\begin{minipage}[t]{\threecolW}
\pfield{Specjalność}{(( data.specjalnosc | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\threecolW}
\pfield{Rok akademicki}{(( data.rok_akademicki | le ))}
\end{minipage}

\vspace{4pt}
\pfield{Miejsce odbywania praktyki}{(( data.miejsce_praktyki | le ))}

\sectionrule
\sectionlabel{1. Charakterystyka miejsca pracy}

\vspace{4pt}
\fontsize{10}{14}\selectfont
(( data.charakterystyka | le ))
\par\vspace{18pt}

\sectionrule
\sectionlabel{2. Opis i analiza wykonywanych prac w trakcie pracy zawodowej lub działalności gospodarczej}

\vspace{4pt}
\fontsize{10}{14}\selectfont
(( data.opis_prac | le ))
\par\vspace{24pt}

\sectionrule
\sectionlabel{3. Wiedza i umiejętności uzyskane w trakcie pracy zawodowej lub działalności gospodarczej}

\vspace{4pt}
\fontsize{10}{14}\selectfont
(( data.wiedza_umiejetnosci | le ))
\par\vspace{18pt}

\sectionrule
\vspace{6pt}
\begin{minipage}[t]{\twocolA}
\psig{Data sporządzenia sprawozdania}{(( data.data | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\psig{Podpis ((* if female *))studentki((* else *))studenta((* endif *))}{(( data.podpis_studenta | le ))}
\end{minipage}

\vspace{10pt}
\begin{minipage}[t]{\twocolA}
\psig{Potwierdzenie bezpośredniego przełożonego (data, pieczęć)}{(( data.podpis_przelozonego | le ))}
\end{minipage}\hfill
\begin{minipage}[t]{\twocolB}
\mbox{}
\end{minipage}

\end{document}
